span {
    color: #007bff;
}
.intro {
    margin-top:2%;   
}
.jumbotron-intro {
    background-image: url("../assets/banner.png");
    background-size: cover;
}
.project-attributes li {
    background-color: gainsboro;
    border-color: transparent;
    border-radius: 2px;
    text-align: center;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    margin: 5px;
}
.jumbotron-about {
    margin-top: 1%;
}
.jumbotron-about .container .row div {
    background-color: gainsboro;
    border-radius: 2px;
    text-align: center;
    margin: 5px;
}
.jumbotron-about .container .row div p {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0%;
}